@model NETD3202_Communication5.Models.Score

@{
    ViewData["Title"] = "Delete";
}
<!--
    Daniel Hinbest
    NETD 3202 - Communication Activity 5
    December 13, 2020
    This new version now includes sign-in functionality with the Identity Framework

    This ASP.NET Core application is designed to allow the user to enter the information for a curling game, including the teams and the scores, and also provides functionality for editing, and deleting results.
    This view deletes an existing record from the database.
    The template for this application is the same template provided for Web Development - Intermediate (WEBD 3201).
 -->
<!--Page header-->
<h2 class="h1">Delete a score</h2>

<br />
<!--Stores all the existing data into a form-->
<dl class="row">
    <dt class="col-sm-2">
        Team One Total
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.teamOneTotal)
    </dd>
    <dt class="col-sm-2">
        Team One Ends
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.teamOneEnds)
    </dd>
    <dt class="col-sm-2">
        Team Two Total
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.teamTwoTotal)
    </dd>
    <dt class="col-sm-2">
        Team Two Ends
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.teamTwoEnds)
    </dd>
</dl>

<!--Confirms the delete functionality-->
<form class="form-signin" asp-action="Delete">
    <input type="hidden" asp-for="scoreID" />
    <button type="submit" class="btn btn-danger btn-block">Delete</button>
    <!--Returns back to the list-->
    <a asp-action="Index">Back to List</a>
</form>
