<!--
    Daniel Hinbest
    NETD 3202 - Communication Activity 5
    December 13, 2020
    This new version now includes sign-in functionality with the Identity Framework

    This ASP.NET Core application is designed to allow the user to enter the information for a curling game, including the teams and the scores, and also provides functionality for editing, and deleting results.
    This page allows the user to view the details for an individual record.
    The template for this application is the same template provided for Web Development - Intermediate (WEBD 3201).
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link runat="server" rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="/favicon.ico" type="image/ico" />
    <!-- The title for the page's tab -->
    <title>@ViewData["Title"]</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    @*Top navigation bar*@
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        @*Logo. Redirects to the main Index*@
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/download.jpg" href="Index" width="50" />
            Curling Tracker
        </a>
        <!--Loads the login view-->
        @await Html.PartialAsync("_LoginPartial")
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="container-fluid">
                <div class="row">
                    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                        <div class="sidebar-sticky">
                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                @*Nav links for the scores table*@
                                <span>Curling Scores</span>
                                <a class="d-flex align-items-center text-muted" href="#">
                                    <span data-feather="plus-circle"></span>
                                </a>
                            </h6>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Scores" asp-action="Index">
                                        <span data-feather="home"></span>
                                        View Scores List<span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Scores" asp-action="Create">
                                        <span data-feather="home"></span>
                                        Create New Score<span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            </ul>

                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                @*Nav links for the teams table*@
                                <span>Curling Teams</span>
                                <a class="d-flex align-items-center text-muted" asp-area="" asp->
                                    <span data-feather="plus-circle"></span>
                                </a>
                            </h6>
                            <ul class="nav flex-column mb-2">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Team" asp-action="Index">
                                        <span data-feather="file-text"></span>
                                        View Teams List
                                    </a>
                                </li>
                                <li class="nav flex-column mb-2">
                                    <a class="nav-link" asp-area="" asp-controller="Team" asp-action="Create">
                                        <span data-feather="file-text"></span>
                                        Create New Team
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav><!-- The main part of the page. This is where all page content is stored. -->
                    <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                        <!--Renders the body of the pages-->
                        @RenderBody()
                    </main>
                </div>

                <footer class="border-top footer text-muted">

                    <!--Copyright symbol-->
                    <p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>
                </footer>
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
                @RenderSection("Scripts", required: false)
            </div>
        </main>
    </div>
</body>
</html>

