@{
    ViewData["Title"] = "Home Page";
}
<!--
    Daniel Hinbest
    NETD 3202 - Lab 5
    December 6, 2020
    This ASP.NET Core application is designed to allow the user to enter the information for a curling game, including the teams and the scores, and also provides functionality for editing, and deleting results.
    This index page is the initial loading page of the application.
    The template for this application is the same template provided for Web Development - Intermediate (WEBD 3201).
 -->
<!--Page header. Couldn't figure out why it wouldn't go above the text-->
<h1>NETD 3202 - Lab 5</h1>
<!--Application description-->
<p>
    <br />
    The purpose of this application is to be a curling score tracker. It is designed with two sets of views. One for the scores, and the other for the teams. The user can go into the scores and add scores to each of the games and it also gives the user the ability to alter the score, view the details, or just delete it altogether. I decided to make this application because in my weekly curling league, every time I would leave the ice, we would fill in a sheet that would include all the same information that is included in this application, and this can make an easier way to store everything in one place. One of the reasons I decided to do this is because curling is one of my main interests, and I felt that it was something that I could understand while I was developing it. I also decided on this because at the time that we received the outline, one of the things that was on my mind was how I missed being on the ice since the start of the pandemic, so it gave me an opportunity to think about it while I remain off the ice indefinitely.
</p>
