@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>

@{
    if (@Model.TempData["exists"].ToString() == "true")
    {
    <p>
        <a id="reset-password" href="@Model.TempData["mydata"]">Click here to change your password</a>
    </p>
    }
    else
    {
        <p>A reset link has been sent to your email.</p>
    }
}